@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');


:root {
  --clr-primary: #013243;
  --clr-secondary: #ffffff;

  --clr-accent: #86bfd3;
  --clr-border: #bcbcbc;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  h1, h2, h3{
    line-height: 1;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }



body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    background-image: url(Assets/Background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: ;
}

.sign-up {
  --form-padding: 1.75rem;
  --form-radius: 1rem;
  --input-padding: 1rem;
  --button-padding: .5rem;
  --content-spacing: 1.5rem;
  position: relative;
  display: grid;
  max-width: 46rem;
  place-content: center;
  overflow: hidden;
  border-radius: 
    0 0 var(--form-radius) var(--form-radius);
  border: 1px solid var(--clr-border);
  -webkit-box-shadow: -2px 2px 26px 3px rgba(0,0,0,0.12); 
  box-shadow: -2px 2px 26px 3px rgba(0,0,0,0.12);
}

@media (min-width: 600px) {
  body {
    display: grid;
    place-content: center;
    margin-inline: 1rem;
  }
  .sign-up {
    grid-template-columns: 1fr 1fr;
    border-radius: var(--form-radius);
  }
  .sign-up-title, .sign-up-login{
    --form-padding: 2rem;
  }
}

.sign-up-title{
 display: grid;
 text-align: center;
 padding: var(--form-padding) calc(var(--form-padding) * 1.5);
 padding-bottom: 0;
 background: rgb(134,191,211);
 background: linear-gradient(0deg, rgba(134,191,211,1) 4%, rgba(69,122,140,1) 33%, rgba(30,81,98,1) 51%, rgba(17,67,84,1) 61%, rgba(1,50,67,1) 76%);
}

.image-container{
  width: 100%;
  margin-top: auto;
}

.image-container img {
    height: auto;
}

.sign-up-title h1{
  color: var(--clr-secondary);
  margin-bottom: 10px;
}

.sign-up-title p{
  font-family: 'Nunito';
  font-size: 1.2rem;
  color: var(--clr-accent);
}

.sign-up-login{
  display: grid;
  gap: var(--content-spacing);
  text-align: left;
  padding: var(--form-padding) calc(var(--form-padding) * 1.5);
  background-color: var(--clr-secondary);
}

.sign-up-login h2 {
  font-size: 2rem;
}
.flex-group{
  display: flex;
  flex-direction: column;
}

.email-input{
  border-radius: .3rem;
  outline: none;
  border: .5px solid grey;
  padding: var(--input-padding);
  line-height: 1;
}

.flex-group label {
  font-weight: 500;
  margin-bottom: 5px;
}

.flex-group, .checkbox {
  text-align: left;
}

.terms label {
  display: flex;
}
.terms input {
  width: 25px;
  height: 25px;
  padding: 0;
  position: relative;
  top: 0px;
  cursor: pointer;
  margin-right: 10px;
 }

.condition a {
  color: var(--clr-primary);
  font-weight: 700;
  text-decoration: solid underline var(--clr-primary) 2px;
}
button {
  border-radius: .3rem;
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: var(--button-padding);
}

button:active{
  transform: translateY(1px);
}